[submodule "clojure/.clojure"]
	path = clojure/.clojure
	url = https://github.com/ivangalbans/.clojure.git
	branch = master
[submodule "emacs/.doom.d"]
	path = emacs/.doom.d
	url = https://github.com/ivangalbans/.doom.d.git
	branch = master
	branch = develop
[submodule "zsh/ohmyzsh"]
	path = zsh/ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
	branch = master
[submodule "emacs/.emacs.d"]
	path = emacs/.emacs.d
	url = https://github.com/doomemacs/doomemacs
